@model FreschOne.Models.foTableGroups

@{
    ViewData["Title"] = "Create Table Group";
    var userid = ViewBag.userid;
}

<partial name="_Sidebar" />

<h2>Create Table Groups</h2>

<form asp-action="Create" asp-route-userid="@userid" method="post">
       <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="@Url.Action("Index", new { userid })" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
