@model FreschOne.Models.foGroups

@{
    ViewData["Title"] = "Create Group";
    var userid = ViewBag.userid;
}

<partial name="_Sidebar" />

<h2>Create Group</h2>

<form asp-action="Create" asp-route-userid="@userid" method="post">
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
       
    <br />
    <button type="submit" class="btn btn-sm btn-blue">Save</button>
    <a href="@Url.Action("Index", new { userid })" class="btn btn-sm btn-grey">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}