@model FreschOne.Models.foGroups

@{
    ViewData["Title"] = "Edit Group";
    var userid = ViewBag.userid;
}

<partial name="_Sidebar" />

<h2>Edit Group</h2>

<form asp-action="Edit" asp-route-userid="@userid" method="post">
    <input type="hidden" asp-for="ID" />

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Group Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-sm btn-blue">Update</button>
    <a href="@Url.Action("Index", new { userid })" class="btn btn-sm btn-grey">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
