@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "login-page";

}

<27 May 2025></27>
<div class="login-container">
    <div class="login-box">
        <h2 class="text-center mt-2">Login</h2>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }

        <form method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-blue">Login</button>
            </div>

            <p class="text-center mt-2">
                <a id="resetPasswordLink" href="#">Forgot Password?</a>
            </p>
        </form>



        @* License Info *@
        @if (ViewBag.LicenseStatus != null)
        {
            <p style="font-size: 0.8em; color: #888; margin-top: 20px; text-align: center;">
                @Html.Raw(ViewBag.LicenseStatus)
            </p>
        }
    </div>
</div>

<script>
    document.getElementById('resetPasswordLink').onclick = function () {
        var username = document.querySelector('input[name="username"]').value;
        if (username) {
            window.location.href = '@Url.Action("ResetPassword", "Account")' + '?username=' + encodeURIComponent(username);
        } else {
            alert('Please enter your username.');
        }
    };
</script>
