@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Reset Password";
}



<div class="reset-password-container">
    <div class="reset-password-box">
        <h2>Reset Password</h2>

        <form method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="userId" value="@ViewBag.UserID" />
            <input type="hidden" name="username" value="@ViewBag.Username" />
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" value="@ViewBag.Username" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" name="newPassword" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
