@model FreschOne.Models.foUserReports

@{
    ViewData["Title"] = "Assign Report";
    var userid = ViewBag.userid;

}

<partial name="_Sidebar" />

<h2>Assign Report</h2>


<form asp-action="Create" asp-route-userid="@userid" method="post">
    <div class="mb-3">
        <label asp-for="UserID" class="form-label">User</label>
        <select asp-for="UserID" asp-items="ViewBag.Users" class="form-select">
            <option value="">-- Select User --</option>
        </select>
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ReportID" class="form-label">Report</label>
        <select asp-for="ReportID" asp-items="ViewBag.Reports" class="form-select">
            <option value="">-- Select Report --</option>
        </select>
        <span asp-validation-for="ReportID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="@Url.Action("Index",new { userid })" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
